<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="carrier">
            <h2><span jhiTranslate="checktruckwebApp.carrier.detail.title">Carrier</span> {{carrier.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="checktruckwebApp.carrier.businessName">Business Name</span></dt>
                <dd>
                    <span>{{carrier.businessName}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.carrier.address">Address</span></dt>
                <dd>
                    <span>{{carrier.address}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.carrier.phone">Phone</span></dt>
                <dd>
                    <span>{{carrier.phone}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.carrier.contact">Contact</span></dt>
                <dd>
                    <span>{{carrier.contact}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.carrier.contactPhone">Contact Phone</span></dt>
                <dd>
                    <span>{{carrier.contactPhone}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/carrier', carrier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
