<div>
    <h2 id="page-heading">
        <span jhiTranslate="checktruckwebApp.carrier.home.title">Carriers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-carrier" [routerLink]="['/carrier/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="checktruckwebApp.carrier.home.createLabel">
            Create new Carrier
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="carriers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="checktruckwebApp.carrier.businessName">Business Name</span></th>
            <th><span jhiTranslate="checktruckwebApp.carrier.address">Address</span></th>
            <th><span jhiTranslate="checktruckwebApp.carrier.phone">Phone</span></th>
            <th><span jhiTranslate="checktruckwebApp.carrier.contact">Contact</span></th>
            <th><span jhiTranslate="checktruckwebApp.carrier.contactPhone">Contact Phone</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let carrier of carriers ;trackBy: trackId">
                <td><a [routerLink]="['/carrier', carrier.id, 'view' ]">{{carrier.id}}</a></td>
                <td>{{carrier.businessName}}</td>
                <td>{{carrier.address}}</td>
                <td>{{carrier.phone}}</td>
                <td>{{carrier.contact}}</td>
                <td>{{carrier.contactPhone}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/carrier', carrier.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/carrier', carrier.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'carrier/'+ carrier.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
