<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-carrier-heading" jhiTranslate="checktruckwebApp.carrier.home.createOrEditLabel">Create or edit a Carrier</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!carrier.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="carrier.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.carrier.businessName" for="field_businessName">Business Name</label>
                    <input type="text" class="form-control" name="businessName" id="field_businessName"
                        [(ngModel)]="carrier.businessName" required/>
                    <div [hidden]="!(editForm.controls.businessName?.dirty && editForm.controls.businessName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.businessName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.carrier.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="carrier.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.carrier.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="carrier.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.carrier.contact" for="field_contact">Contact</label>
                    <input type="text" class="form-control" name="contact" id="field_contact"
                        [(ngModel)]="carrier.contact" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.carrier.contactPhone" for="field_contactPhone">Contact Phone</label>
                    <input type="text" class="form-control" name="contactPhone" id="field_contactPhone"
                        [(ngModel)]="carrier.contactPhone" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
