<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="roadmap">
            <h2><span jhiTranslate="checktruckwebApp.roadmap.detail.title">Roadmap</span> {{roadmap.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="checktruckwebApp.roadmap.price">Price</span></dt>
                <dd>
                    <span>{{roadmap.price}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.roadmap.synch">Synch</span></dt>
                <dd>
                    <span>{{roadmap.synch}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.roadmap.verified">Verified</span></dt>
                <dd>
                    <span>{{roadmap.verified}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.roadmap.idUser">Id User</span></dt>
                <dd>
                    <span>{{roadmap.idUser}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.roadmap.created">Created</span></dt>
                <dd>
                    <span>{{roadmap.created}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.roadmap.verifiedDate">Verified Date</span></dt>
                <dd>
                    <span>{{roadmap.verifiedDate}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.roadmap.userKey">User Key</span></dt>
                <dd>
                    <span>{{roadmap.userKey}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.roadmap.userName">User Name</span></dt>
                <dd>
                    <span>{{roadmap.userName}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.roadmap.annulled">Annulled</span></dt>
                <dd>
                    <span>{{roadmap.annulled}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.roadmap.routers">Routers</span></dt>
                <dd>
                    <div *ngIf="roadmap.routers">
                        <a [routerLink]="['/routers', roadmap.routers?.id, 'view']">{{roadmap.routers?.description}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.roadmap.vehicle">Vehicle</span></dt>
                <dd>
                    <div *ngIf="roadmap.vehicle">
                        <a [routerLink]="['/vehicle', roadmap.vehicle?.id, 'view']">{{roadmap.vehicle?.licensePlate}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.roadmap.materialQuarryCustomer">Material Quarry Customer</span></dt>
                <dd>
                    <div *ngIf="roadmap.materialQuarryCustomer">
                        <a [routerLink]="['/material-quarry-customer', roadmap.materialQuarryCustomer?.id, 'view']">{{roadmap.materialQuarryCustomer?.customer.businessName}} - {{roadmap.materialQuarryCustomer?.material.description}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/roadmap', roadmap.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
