<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-roadmap-heading" jhiTranslate="checktruckwebApp.roadmap.home.createOrEditLabel">Create or edit a Roadmap</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!roadmap.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="roadmap.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="roadmap.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.synch" for="field_synch">Synch</label>
                    <input type="checkbox" class="form-control" name="synch" id="field_synch"
                        [(ngModel)]="roadmap.synch" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.verified" for="field_verified">Verified</label>
                    <input type="checkbox" class="form-control" name="verified" id="field_verified"
                        [(ngModel)]="roadmap.verified" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.idUser" for="field_idUser">Id User</label>
                    <input type="text" class="form-control" name="idUser" id="field_idUser"
                        [(ngModel)]="roadmap.idUser" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" [(ngModel)]="created"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.verifiedDate" for="field_verifiedDate">Verified Date</label>
                    <div class="d-flex">
                        <input id="field_verifiedDate" type="datetime-local" class="form-control" name="verifiedDate" [(ngModel)]="verifiedDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.userKey" for="field_userKey">User Key</label>
                    <input type="text" class="form-control" name="userKey" id="field_userKey"
                        [(ngModel)]="roadmap.userKey" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.userName" for="field_userName">User Name</label>
                    <input type="text" class="form-control" name="userName" id="field_userName"
                        [(ngModel)]="roadmap.userName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.annulled" for="field_annulled">Annulled</label>
                    <input type="checkbox" class="form-control" name="annulled" id="field_annulled"
                        [(ngModel)]="roadmap.annulled" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.routers" for="field_routers">Routers</label>
                    <select class="form-control" id="field_routers" name="routers" [(ngModel)]="roadmap.routers" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="routersOption.id === roadmap.routers?.id ? roadmap.routers : routersOption" *ngFor="let routersOption of routers; trackBy: trackRoutersById">{{routersOption.description}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.vehicle" for="field_vehicle">Vehicle</label>
                    <select class="form-control" id="field_vehicle" name="vehicle" [(ngModel)]="roadmap.vehicle" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vehicleOption.id === roadmap.vehicle?.id ? roadmap.vehicle : vehicleOption" *ngFor="let vehicleOption of vehicles; trackBy: trackVehicleById">{{vehicleOption.licensePlate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.roadmap.materialQuarryCustomer" for="field_materialQuarryCustomer">Material Quarry Customer</label>
                    <select class="form-control" id="field_materialQuarryCustomer" name="materialQuarryCustomer" [(ngModel)]="roadmap.materialQuarryCustomer" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="materialQuarryCustomerOption.id === roadmap.materialQuarryCustomer?.id ? roadmap.materialQuarryCustomer : materialQuarryCustomerOption" *ngFor="let materialQuarryCustomerOption of materialquarrycustomers; trackBy: trackMaterialQuarryCustomerById">{{materialQuarryCustomerOption.customer.businessName}} - {{materialQuarryCustomerOption.material.description}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
