<div>
    <h2 id="page-heading">
        <span jhiTranslate="checktruckwebApp.roadmap.home.title">Roadmaps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-roadmap" [routerLink]="['/roadmap/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="checktruckwebApp.roadmap.home.createLabel">
            Create new Roadmap
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="roadmaps">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.price">Price</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.synch">Synch</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.verified">Verified</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.idUser">Id User</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.created">Created</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.verifiedDate">Verified Date</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.userKey">User Key</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.userName">User Name</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.annulled">Annulled</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.routers">Routers</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.vehicle">Vehicle</span></th>
            <th><span jhiTranslate="checktruckwebApp.roadmap.materialQuarryCustomer">Material Quarry Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roadmap of roadmaps ;trackBy: trackId">
                <td><a [routerLink]="['/roadmap', roadmap.id, 'view' ]">{{roadmap.id}}</a></td>
                <td>{{roadmap.price}}</td>
                <td>{{roadmap.synch}}</td>
                <td>{{roadmap.verified}}</td>
                <td>{{roadmap.idUser}}</td>
                <td>{{roadmap.created | date:'medium'}}</td>
                <td>{{roadmap.verifiedDate | date:'medium'}}</td>
                <td>{{roadmap.userKey}}</td>
                <td>{{roadmap.userName}}</td>
                <td>{{roadmap.annulled}}</td>
                <td>
                    <div *ngIf="roadmap.routers">
                        <a [routerLink]="['../routers', roadmap.routers?.id, 'view' ]" >{{roadmap.routers?.description}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="roadmap.vehicle">
                        <a [routerLink]="['../vehicle', roadmap.vehicle?.id, 'view' ]" >{{roadmap.vehicle?.licensePlate}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="roadmap.materialQuarryCustomer">
                        <a [routerLink]="['../material-quarry-customer', roadmap.materialQuarryCustomer?.id, 'view' ]" >{{roadmap.materialQuarryCustomer?.customer.businessName}} - {{roadmap.materialQuarryCustomer?.material.description}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/roadmap', roadmap.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/roadmap', roadmap.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'roadmap/'+ roadmap.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
