<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="routers">
            <h2><span jhiTranslate="checktruckwebApp.routers.detail.title">Routers</span> {{routers.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="checktruckwebApp.routers.description">Description</span></dt>
                <dd>
                    <span>{{routers.description}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.routers.distanceKm">Distance Km</span></dt>
                <dd>
                    <span>{{routers.distanceKm}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.routers.cost">Cost</span></dt>
                <dd>
                    <span>{{routers.cost}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.routers.reportCopies">Report Copies</span></dt>
                <dd>
                    <span>{{routers.reportCopies}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/routers', routers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
