<div>
    <h2 id="page-heading">
        <span jhiTranslate="checktruckwebApp.routers.home.title">Routers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-routers" [routerLink]="['/routers/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="checktruckwebApp.routers.home.createLabel">
            Create new Routers
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="routers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="checktruckwebApp.routers.description">Description</span></th>
            <th><span jhiTranslate="checktruckwebApp.routers.distanceKm">Distance Km</span></th>
            <th><span jhiTranslate="checktruckwebApp.routers.cost">Cost</span></th>
            <th><span jhiTranslate="checktruckwebApp.routers.reportCopies">Report Copies</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let routers of routers ;trackBy: trackId">
                <td><a [routerLink]="['/routers', routers.id, 'view' ]">{{routers.id}}</a></td>
                <td>{{routers.description}}</td>
                <td>{{routers.distanceKm}}</td>
                <td>{{routers.cost}}</td>
                <td>{{routers.reportCopies}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/routers', routers.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/routers', routers.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'routers/'+ routers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
