<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-routers-heading" jhiTranslate="checktruckwebApp.routers.home.createOrEditLabel">Create or edit a Routers</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!routers.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="routers.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.routers.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="routers.description" required/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.routers.distanceKm" for="field_distanceKm">Distance Km</label>
                    <input type="number" class="form-control" name="distanceKm" id="field_distanceKm"
                        [(ngModel)]="routers.distanceKm" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.routers.cost" for="field_cost">Cost</label>
                    <input type="number" class="form-control" name="cost" id="field_cost"
                        [(ngModel)]="routers.cost" required/>
                    <div [hidden]="!(editForm.controls.cost?.dirty && editForm.controls.cost?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cost?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cost?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.routers.reportCopies" for="field_reportCopies">Report Copies</label>
                    <input type="number" class="form-control" name="reportCopies" id="field_reportCopies"
                        [(ngModel)]="routers.reportCopies" required/>
                    <div [hidden]="!(editForm.controls.reportCopies?.dirty && editForm.controls.reportCopies?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reportCopies?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.reportCopies?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
