<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="checktruckwebApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="checktruckwebApp.customer.businessName">Business Name</span></dt>
                <dd>
                    <span>{{customer.businessName}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.customer.nit">Nit</span></dt>
                <dd>
                    <span>{{customer.nit}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.customer.email">Email</span></dt>
                <dd>
                    <span>{{customer.email}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.customer.address">Address</span></dt>
                <dd>
                    <span>{{customer.address}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.customer.phone">Phone</span></dt>
                <dd>
                    <span>{{customer.phone}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.customer.contact">Contact</span></dt>
                <dd>
                    <span>{{customer.contact}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.customer.contactPhone">Contact Phone</span></dt>
                <dd>
                    <span>{{customer.contactPhone}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
