<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialQuarryCustomer">
            <h2><span jhiTranslate="checktruckwebApp.materialQuarryCustomer.detail.title">Material Quarry Customer</span> {{materialQuarryCustomer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="checktruckwebApp.materialQuarryCustomer.price">Price</span></dt>
                <dd>
                    <span>{{materialQuarryCustomer.price}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.materialQuarryCustomer.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="materialQuarryCustomer.customer">
                        <a [routerLink]="['/customer', materialQuarryCustomer.customer?.id, 'view']">{{materialQuarryCustomer.customer?.businessName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.materialQuarryCustomer.quarry">Quarry</span></dt>
                <dd>
                    <div *ngIf="materialQuarryCustomer.quarry">
                        <a [routerLink]="['/quarry', materialQuarryCustomer.quarry?.id, 'view']">{{materialQuarryCustomer.quarry?.description}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.materialQuarryCustomer.material">Material</span></dt>
                <dd>
                    <div *ngIf="materialQuarryCustomer.material">
                        <a [routerLink]="['/material', materialQuarryCustomer.material?.id, 'view']">{{materialQuarryCustomer.material?.description}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-quarry-customer', materialQuarryCustomer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
