<div>
    <h2 id="page-heading">
        <span jhiTranslate="checktruckwebApp.materialQuarryCustomer.home.title">Material Quarry Customers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-material-quarry-customer" [routerLink]="['/material-quarry-customer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="checktruckwebApp.materialQuarryCustomer.home.createLabel">
            Create new Material Quarry Customer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="materialQuarryCustomers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="checktruckwebApp.materialQuarryCustomer.price">Price</span></th>
            <th><span jhiTranslate="checktruckwebApp.materialQuarryCustomer.customer">Customer</span></th>
            <th><span jhiTranslate="checktruckwebApp.materialQuarryCustomer.quarry">Quarry</span></th>
            <th><span jhiTranslate="checktruckwebApp.materialQuarryCustomer.material">Material</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let materialQuarryCustomer of materialQuarryCustomers ;trackBy: trackId">
                <td><a [routerLink]="['/material-quarry-customer', materialQuarryCustomer.id, 'view' ]">{{materialQuarryCustomer.id}}</a></td>
                <td>{{materialQuarryCustomer.price}}</td>
                <td>
                    <div *ngIf="materialQuarryCustomer.customer">
                        <a [routerLink]="['../customer', materialQuarryCustomer.customer?.id, 'view' ]" >{{materialQuarryCustomer.customer?.businessName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="materialQuarryCustomer.quarry">
                        <a [routerLink]="['../quarry', materialQuarryCustomer.quarry?.id, 'view' ]" >{{materialQuarryCustomer.quarry?.description}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="materialQuarryCustomer.material">
                        <a [routerLink]="['../material', materialQuarryCustomer.material?.id, 'view' ]" >{{materialQuarryCustomer.material?.description}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/material-quarry-customer', materialQuarryCustomer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/material-quarry-customer', materialQuarryCustomer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'material-quarry-customer/'+ materialQuarryCustomer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
