<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-material-quarry-customer-heading" jhiTranslate="checktruckwebApp.materialQuarryCustomer.home.createOrEditLabel">Create or edit a Material Quarry Customer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!materialQuarryCustomer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="materialQuarryCustomer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.materialQuarryCustomer.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="materialQuarryCustomer.price" required/>
                    <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.price?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.materialQuarryCustomer.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" [(ngModel)]="materialQuarryCustomer.customer" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === materialQuarryCustomer.customer?.id ? materialQuarryCustomer.customer : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.businessName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.materialQuarryCustomer.quarry" for="field_quarry">Quarry</label>
                    <select class="form-control" id="field_quarry" name="quarry" [(ngModel)]="materialQuarryCustomer.quarry" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="quarryOption.id === materialQuarryCustomer.quarry?.id ? materialQuarryCustomer.quarry : quarryOption" *ngFor="let quarryOption of quarries; trackBy: trackQuarryById">{{quarryOption.description}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.materialQuarryCustomer.material" for="field_material">Material</label>
                    <select class="form-control" id="field_material" name="material" [(ngModel)]="materialQuarryCustomer.material" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="materialOption.id === materialQuarryCustomer.material?.id ? materialQuarryCustomer.material : materialOption" *ngFor="let materialOption of materials; trackBy: trackMaterialById">{{materialOption.description}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
