<div>
    <h2 id="page-heading">
        <span jhiTranslate="checktruckwebApp.vehicle.home.title">Vehicles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vehicle" [routerLink]="['/vehicle/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="checktruckwebApp.vehicle.home.createLabel">
            Create new Vehicle
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vehicles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="checktruckwebApp.vehicle.licensePlate">License Plate</span></th>
            <th><span jhiTranslate="checktruckwebApp.vehicle.quantity">Quantity</span></th>
            <th><span jhiTranslate="checktruckwebApp.vehicle.model">Model</span></th>
            <th><span jhiTranslate="checktruckwebApp.vehicle.carrier">Carrier</span></th>
            <th><span jhiTranslate="checktruckwebApp.vehicle.capacity">Capacity</span></th>
            <th><span jhiTranslate="checktruckwebApp.vehicle.brand">Brand</span></th>
            <th><span jhiTranslate="checktruckwebApp.vehicle.quarry">Quarry</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vehicle of vehicles ;trackBy: trackId">
                <td><a [routerLink]="['/vehicle', vehicle.id, 'view' ]">{{vehicle.id}}</a></td>
                <td>{{vehicle.licensePlate}}</td>
                <td>{{vehicle.quantity}}</td>
                <td>{{vehicle.model}}</td>
                <td>
                    <div *ngIf="vehicle.carrier">
                        <a [routerLink]="['../carrier', vehicle.carrier?.id, 'view' ]" >{{vehicle.carrier?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vehicle.capacity">
                        <a [routerLink]="['../capacity', vehicle.capacity?.id, 'view' ]" >{{vehicle.capacity?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vehicle.brand">
                        <a [routerLink]="['../brand', vehicle.brand?.id, 'view' ]" >{{vehicle.brand?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vehicle.quarry">
                        <a [routerLink]="['../quarry', vehicle.quarry?.id, 'view' ]" >{{vehicle.quarry?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vehicle', vehicle.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vehicle', vehicle.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vehicle/'+ vehicle.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
