<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vehicle">
            <h2><span jhiTranslate="checktruckwebApp.vehicle.detail.title">Vehicle</span> {{vehicle.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="checktruckwebApp.vehicle.licensePlate">License Plate</span></dt>
                <dd>
                    <span>{{vehicle.licensePlate}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.vehicle.quantity">Quantity</span></dt>
                <dd>
                    <span>{{vehicle.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.vehicle.model">Model</span></dt>
                <dd>
                    <span>{{vehicle.model}}</span>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.vehicle.carrier">Carrier</span></dt>
                <dd>
                    <div *ngIf="vehicle.carrier">
                        <a [routerLink]="['/carrier', vehicle.carrier?.id, 'view']">{{vehicle.carrier?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.vehicle.capacity">Capacity</span></dt>
                <dd>
                    <div *ngIf="vehicle.capacity">
                        <a [routerLink]="['/capacity', vehicle.capacity?.id, 'view']">{{vehicle.capacity?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.vehicle.brand">Brand</span></dt>
                <dd>
                    <div *ngIf="vehicle.brand">
                        <a [routerLink]="['/brand', vehicle.brand?.id, 'view']">{{vehicle.brand?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="checktruckwebApp.vehicle.quarry">Quarry</span></dt>
                <dd>
                    <div *ngIf="vehicle.quarry">
                        <a [routerLink]="['/quarry', vehicle.quarry?.id, 'view']">{{vehicle.quarry?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vehicle', vehicle.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>

            <a class="btn btn-warning"  [href]="routeQr"><span> Print QR</span>
            </a>
        </div>
    </div>
</div>
