<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-vehicle-heading" jhiTranslate="checktruckwebApp.vehicle.home.createOrEditLabel">Create or edit a Vehicle</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!vehicle.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="vehicle.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.vehicle.licensePlate" for="field_licensePlate">License Plate</label>
                    <input type="text" class="form-control" name="licensePlate" id="field_licensePlate"
                        [(ngModel)]="vehicle.licensePlate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.vehicle.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="vehicle.quantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.vehicle.model" for="field_model">Model</label>
                    <input type="text" class="form-control" name="model" id="field_model"
                        [(ngModel)]="vehicle.model" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.vehicle.carrier" for="field_carrier">Carrier</label>
                    <select class="form-control" id="field_carrier" name="carrier" [(ngModel)]="vehicle.carrier" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="carrierOption.id === vehicle.carrier?.id ? vehicle.carrier : carrierOption" *ngFor="let carrierOption of carriers; trackBy: trackCarrierById">{{carrierOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.vehicle.capacity" for="field_capacity">Capacity</label>
                    <select class="form-control" id="field_capacity" name="capacity" [(ngModel)]="vehicle.capacity" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="capacityOption.id === vehicle.capacity?.id ? vehicle.capacity : capacityOption" *ngFor="let capacityOption of capacities; trackBy: trackCapacityById">{{capacityOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.vehicle.brand" for="field_brand">Brand</label>
                    <select class="form-control" id="field_brand" name="brand" [(ngModel)]="vehicle.brand" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="brandOption.id === vehicle.brand?.id ? vehicle.brand : brandOption" *ngFor="let brandOption of brands; trackBy: trackBrandById">{{brandOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="checktruckwebApp.vehicle.quarry" for="field_quarry">Quarry</label>
                    <select class="form-control" id="field_quarry" name="quarry" [(ngModel)]="vehicle.quarry" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="quarryOption.id === vehicle.quarry?.id ? vehicle.quarry : quarryOption" *ngFor="let quarryOption of quarries; trackBy: trackQuarryById">{{quarryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
